/* --Foundation-- */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    position: relative;
    font-style: normal;
    font-size: 16px;
    color: #191A1E;
    box-sizing: border-box;
    background-color: #242731;
    box-sizing: border-box;
    font-family: Helvetica;
}

img {
    width: 100%;
}

* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  width: 100% /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  width: auto;

}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: red;
  opacity: 0.7;
  border-radius: 50%;
}


/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #F2F4F9;
}

h1 {
    font-weight: 600;
    min-height: 50px;
    display: flex;
    align-items: center;
    font-family: "Lancelot", serif;
    font-size: 2rem;

}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 30px;
    font-family: "Lancelot", serif;
}

h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 20px;
    color: #F2F4F9;
    line-height: 1;
}

h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #868683;
    line-height: 1;
    text-align: left;
}

p {
    line-height: 1.5;
    opacity: .7;
    font-weight: 300;
    margin-bottom: 15px;
    color: #F2F4F9;
}

a {
    text-decoration: none;
    color: #F2F4F9;
    transition: color .3s, transform .3s;
    font-weight: 400;
}

a span {
    display: inline-block;
    transition: transform .3s;
}

a:hover {
    color: #746371;
}

a:hover span {
    transform: translateX(5px);
}

li{
    list-style: url('../img/scissors-solid.svg');
    list-style-position: inside;
    line-height: 1.5em;
    color: #F2F4F9;

}

li::marker{
    font-size: 2rem;

}


/* Typography Media Queries */
@media only screen and (min-width: 800px) {
    body {
        font-size: 16px;
    }

    h2 {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1500px) {
    body {
        font-size: 18px;
    }

    h2 {
        font-size: 3.75vw;
    }
}




/* Buttons */
.primary-btn {
    background-color: #191A1E;
    color: #F2F4F9;
    border: none;
    padding: 15px 35px;
    font-size: .9em;
    margin: 15px 0;
    cursor: pointer;
    font-family: Helvetica;
    border-radius: 10px;
    border: 2px solid #191A1E;
    transition: all .3s;
}

.primary-btn:hover {
    background-color: transparent;
    color: #F2F4F9;
}




/* Layout */
section {
    box-sizing: border-box;
    position: relative;
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.hero button {
    margin: 15px 25px;
}

#project {
    padding-top: 50px;
}

.col-left {
    margin: auto;
    margin-bottom: 35px;
}

.col-right {
    margin: auto;
    margin-bottom: 35px;
}

.auto-width {
    width: 80%;
}

.col-30,
.col-40,
.col-50,
.col-60,
.col-80 {
    width: 80%;
}

.full-width {
    width: 100%;
}

.margin-auto {
    margin: auto;
}

.center-text {
    text-align: center;
}

.round-corners {
    border-radius: 10px;
}

#katie-chat-photo {
    margin: 0 auto;
    padding-top: 50%;
    background-image: url(../img/katie-chat.jpg);
    width: 50%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Layout Media Queries */
@media only screen and (min-width: 800px) {
    section {
        flex-direction: row;
    }

    section.flex-reverse {
        flex-direction: row-reverse;
    }

    .col-left {
        margin: auto;
        margin-left: 10%;
        margin-right: 5%;
    }

    .col-right {
        margin: auto;
        margin-right: 10%;
        margin-left: 5%;
    }

    .auto-width {
        width: auto;
    }

    .col-30 {
        width: 30%;
    }

    .col-40 {
        width: 40%;
    }

    .col-50 {
        width: 50%;
    }

    .col-60 {
        width: 60%;
    }
}

@media screen and (min-width: 1025px) {
    section.full-height {
        min-height: 100vh;
        padding: 100px 0;
    }
}




/* Header & Navigation */
header {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 998;
    font-size: 1.1em;
    background-color: rgba(25, 26, 30, 0);
    transition: all .3s;
}

.header-solid {
    background-color: rgba(25, 26, 30, 1);
}

/*Mobile Menu & Button Animation*/
.mobile-nav-input {
    display: none;
}

.menu--1 label {
    display: block;
    cursor: pointer;
    position: fixed;
    width: 25vw;
    height: 25vw;
    max-width: 80px;
    max-height: 80px;
    top: -5px;
    right: 0;
    z-index: 998;
    padding: 0 10px;
}

.menu--1 path {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all .8s cubic-bezier(.645, .045, .355, 1);
}

.menu--1 circle {
    fill: #fff3;
    opacity: 0;
}

.menu--1 label:hover circle {
    opacity: 1;
}

.cross input:checked+svg .line--1,
.cross input:checked+svg .line--3 {
    --length: 22.627416998;
}

.cross input:checked+svg .line--2 {
    --length: 0;
}

.back input:checked+svg .line--1,
.back input:checked+svg .line--3 {
    --length: 8.602325267;
}


.menu--1 .line--1,
.menu--1 .line--3 {
    --total-length: 126.64183044433594;
}

.menu--1 .line--2 {
    --total-length: 70;
}

.menu--1 input:checked+svg .line--1,
.menu--1 input:checked+svg .line--3 {
    --offset: -94.1149185097;
}

.menu--1 input:checked+svg .line--2 {
    --offset: -50;
}

nav a {
    margin-right: 0;
    margin-bottom: 35px;
}

nav a:last-of-type {
    margin-right: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: -110%;
    flex-direction: column;
    z-index: 997;
    height: 100vh;
    width: 100vw;
    background-color: #F2F4F9;
    transition: right 1s;
    font-size: 2em;
    opacity: 1;
    font-weight: 600;
}

.show-nav-mob {
    right: 0;
}

.overflow-mob {
    width: 110%;
}

/* Mobile Menu Media Queries */
@media screen and (min-width: 800px) {
    .menu--1 {
        display: none;
    }

    nav {
        float: right;
        position: fixed;
        right: 0;
        top: 15px;
        width: 50%;
        padding: 10px 30px;
        background-color: transparent;
        z-index: 999;
        height: auto;
        width: auto;
        flex-direction: row;
        font-size: 1em;
    }

    nav a {
        margin-right: 35px;
        margin-bottom: 0;
    }

    nav a:last-of-type {
        margin-right: 0;
    }

    .overflow-mob {
        width: 40%;
    }
}




/* Grid */
.grid-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-wrapper a {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.grid-wrapper article img {
    width: 100%;
    display: block;
    transition: transform .3s;
}

.grid-item-text {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    opacity: 0;
    transition: opacity .3s;
}

.grid-wrapper article:hover .grid-item-text {
    opacity: 1;
}

.grid-wrapper article:hover img {
    transform: scale(1.5);
}

/* Grid Media Queries */
@media screen and (min-width: 800px) {
    .grid-wrapper a {
        width: 50%;
        border: 1px solid rgb(148, 149, 155);
    }
}

@media screen and (min-width: 1024px) {
    .grid-wrapper a {
        width: 33.333%;
    }
}



/* Feature Boxes */
.feature-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-box {
    width: 30%;
    margin: 15px 0;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #F1F3F5;
}

.feature-box img {
    width: 15%;
    min-width: 50px;
    margin: 15px;
}




/* Slider */
.slider {
    width: 100%;
    aspect-ratio: 2/1;
    position: relative;
    overflow: hidden;
    /* <===  */
    border-radius: 15px;
}

.slide {
    width: 100%;
    aspect-ratio: 2/1;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}




/* Footer */
footer {
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 100px;
    background-color: #191A1E;
    color: #fff;
}

.linkedin-btn {
    position: relative;
    width: 35px !important;
    height: 35px;
    z-index: 20;
    background: url("../img/ico-linkedin-light.svg") no-repeat;
    transition: all .25s ease-in-out;
    margin-right: 30px;
}

.instagram-btn {
    position: relative;
    width: 35px !important;
    height: 35px;
    z-index: 20;
    background: url("../img/instagram.svg") no-repeat;
    transition: all .25s ease-in-out;
    margin-right: 30px;
}

.email-btn {
    position: relative;
    width: 35px !important;
    height: 35px;
    z-index: 20;
    background: url("../img/email.svg") no-repeat;
    transition: all .25s ease-in-out;
    margin-right: 30px;
}

#copyright {
    margin-left: auto;
    margin-bottom: 0;
    font-size: .85em;
}